html, body {
    overflow-x: hidden;
    background-color: #000;
}
.style-ui-alert .opentip {
    padding: 6px 11px;
}
.style-ui-alert .ot-content {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Gotham SSm 3r', sans-serif !important;
    color: #fff;
}

.ui-book {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: rgb(249, 249, 249);
}
.ui-book.xs {
    padding-top: 70px !important;
}
.ui-book .defer-image {
    position: relative;
}
.ui-book .defer-image .image-showing {
    position: relative;
}
.ui-book .defer-image .image-showing img {
    display: block;
    width: 100%;
    -webkit-border-radius: 2.5px;
       -moz-border-radius: 2.5px;
            border-radius: 2.5px;
    -webkit-animation: fadeIn 1s both;
	        animation: fadeIn 1s both;
}
.ui-book .defer-image .image-showing img.holder {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ui-book .defer-image .is-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.ui-book .defer-image .is-loading::after {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1em;
	height: 1em;
	margin: -0.5em 0 0 -0.5em;
	background: rgba(125, 125, 125, 0.5);
	border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
	-webkit-animation: deferBobble 2s cubic-bezier(0.6, 1, 1, 1) infinite;
	        animation: deferBobble 2s cubic-bezier(0.6, 1, 1, 1) infinite;
}
.ui-book .payment {
    position: relative;
}
.ui-book .payment .main .title {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    line-height: 27px;
    position: relative;
    margin-bottom: 30px;
}
.ui-book .payment .main .wrap {
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 20px;
    min-height: 350px;
}
.ui-book .payment .main .wrap .head {
    position: absolute;
    background-color: rgb(249, 249, 249);
    left: 50px;
    top: -12.5px;
    padding: 2px 12px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 14px;
    color: #333;
}
.ui-book .payment .main .wrap .head-xs {
    background-color: rgb(249, 249, 249);
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 13.5px;
    color: #333;
}
.ui-book .payment .main .wrap .form {
    position: relative;
}
.ui-book .payment .main .wrap .form .onsite {
    position: relative;
    text-align: center;
    padding-top: 70px;
}
.ui-book .payment .main .wrap .form .onsite span {
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
    display: inline-block;
    max-width: 410px;
	line-height: 24px;
}
.ui-book .payment .main .wrap .form .onsite .btn {
	text-transform: uppercase;
	padding: 10px 16px;
	font-size: 13px;
	border-radius: 6px;
	margin-top: 15px;
}
.ui-book .payment .main .wrap .form .credit_debit {
    position: relative;
    text-align: center;
    padding-top: 80px;
}
.ui-book .payment .main .wrap .form .credit_debit input[type=image] {
    width: 180px;
    max-width: 100% !important;
    outline: none;
}
.ui-book .payment .main .wrap .form .credit_debit span {
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
    display: inline-block;
    max-width: 400px;
}
.ui-book .payment .main .wrap .form .thaibanks {
    position: relative;
    padding-top: 5px;
}
.ui-book .payment .main .wrap .form .thaibanks .intro {
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 13.7px;
	line-height: 23px;
    color: #333;
    max-width: 80%;
    padding-left: 30px;
}
.ui-book .payment .main .wrap .form .thaibanks .intro strong {
    font-weight: 600;
    font-family: 'Gotham 4r', sans-serif;
    font-size: 16.5px;
    color: #000;
}
.ui-book .payment .main .wrap .form .thaibanks .intro a {
    text-decoration: underline;
    font-weight: 500;
    font-family: 'Gotham 4r', sans-serif;
}
.ui-book .payment .main .wrap .form .thaibanks .banks {
    position: relative;
    padding-top: 25px;
}
.ui-book .payment .main .wrap .form .thaibanks .banks .bank {
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    margin-bottom: 17px;
    border-bottom: 1px solid #ccc;
}
.ui-book .payment .main .wrap .form .thaibanks .banks .bank .bank-image {
    position: relative;
    margin-right: 5px;
    width: 55px;
    padding: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: left;
}
.ui-book .payment .main .wrap .form .thaibanks .banks .bank .bank-image img {
    width: 100%;
}
.ui-book .payment .main .wrap .form .thaibanks .banks .bank .bank-detail {
    position: relative;
    float: left;
    width: calc(100% - 60px);
    padding-left: 10px;
}
.ui-book .payment .main .wrap .form .thaibanks .banks .bank .bank-detail span {
    display: block;
    width: 100%;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 13px;
    color: #333;
    margin-bottom: 2px;
}
.ui-book .payment .main .wrap .form .thaibanks .banks .bank .bank-detail small {
    display: block;
    width: 100%;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 12px;
    color: #333;
}
.ui-book .payment .main .wrap .form .thaibanks .banks .bank .bank-detail small em {
    font-style: normal;
    text-transform: uppercase;
}
.ui-book .payment .main .wrap .form .thaibanks .banks .bank .map {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    color: #333;
    font-size: 13.5px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
}
.ui-book .payment .main .wrap .form .thaibanks .banks ._note {
    position: relative;
    width: 100%;
    float: left;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-style: italic;
    margin-bottom: 3px;
}

.ui-book .success {
    position: relative;
}
.ui-book .success .main .title {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    line-height: 27px;
    position: relative;
    margin-bottom: 25px;
}
.ui-book .success .main .wrap {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px;
    min-height: 350px;
}
.ui-book .success .main .wrap .head {
    position: absolute;
    background-color: rgb(249, 249, 249);
    left: 50px;
    top: -12px;
    padding: 2px 12px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 13.5px;
    color: #333;
}
.ui-book .success .main .wrap .head-xs {
    background-color: rgb(249, 249, 249);
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 13.5px;
    color: #333;
}
.ui-book .success .main .wrap .completed {
    position: relative;
    text-align: center;
    padding-top: 52px;
}
.ui-book .success .main .wrap .completed img {
    width: 130px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.ui-book .success .main .wrap .completed .text {
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 390px;
}
.ui-book .success .main .wrap .completed .text span {
	line-height: 24px;
}
.ui-book .success .main .wrap .inform {
    position: relative;
    font-family: 'Gotham 4r', sans-serif;
    font-size: 13px;
    color: #333;
    padding-top: 20px;
}
.ui-book .success .main .wrap .inform .disabled {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.ui-book .success .main .wrap .inform input[type=text],
.ui-book .success .main .wrap .inform select,
.ui-book .success .main .wrap .inform textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Gotham 4r', sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ui-book .success .main .wrap .inform input[type=text]:read-only {
    cursor: pointer;
}
.ui-book .success .main .wrap .inform input[type=text],
.ui-book .success .main .wrap .inform select {
    height: 40px;
}
.ui-book .success .main .wrap .inform textarea {
    max-width: 100%;
    min-height: 40px;
}
.ui-book .success .main .wrap .inform input[type=text]:focus,
.ui-book .success .main .wrap .inform select:focus,
.ui-book .success .main .wrap .inform textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.ui-book .success .main .wrap .inform input[type=text]::-webkit-input-placeholder {
    font-style: italic;
    font-size: 12px;
}
.ui-book .success .main .wrap .inform input[type=text]:-moz-placeholder {
    font-style: italic;
    font-size: 12px;
}
.ui-book .success .main .wrap .inform input[type=text]::-moz-placeholder {
    font-style: italic;
    font-size: 12px;
}
.ui-book .success .main .wrap .inform input[type=text]:-ms-input-placeholder {
    font-style: italic;
    font-size: 12px;
}
.ui-book .success .main .wrap .inform textarea::-webkit-input-placeholder {
    font-style: italic;
    font-size: 12px;
}
.ui-book .success .main .wrap .inform textarea:-moz-placeholder {
    font-style: italic;
    font-size: 12px;
}
.ui-book .success .main .wrap .inform textarea::-moz-placeholder {
    font-style: italic;
    font-size: 12px;
}
.ui-book .success .main .wrap .inform textarea:-ms-input-placeholder {
    font-style: italic;
    font-size: 12px;
}
.ui-book .success .main .wrap .inform .btn {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Gotham 4r', sans-serif;
    text-transform: uppercase;
    padding: 10px;
}

.ui-book .right {
    position: relative;
}
.ui-book .right .tours {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 20px;
}
.ui-book .right .tours .headline {
    position: absolute;
    top: -11px;
    text-align: center;
    width: 100%;
}
.ui-book .right .tours .headline span {
    font-size: 13.5px;
    font-family: 'Gotham 4r', sans-serif;
    padding: 0px 18px;
    color: #000;
    background-color: rgb(249, 249, 249);
}
.ui-book .right .tours .item {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 25px;
}
.ui-book .right .tours .item .images {
    position: relative;
    display: block;
    border: 1px solid #fff;
    overflow: hidden;
}
.ui-book .right .tours .item .images a {
    display: block;
}
.ui-book .right .tours .item .images a img {
    display: block;
    width: 100%;
}
.ui-book .right .tours .item .images a img.transition {
    transition: all .5s ease-in-out;
}
.ui-book .right .tours .item .images a:hover img.transition {
    transform: scale(1.15);
}
.ui-book .right .tours .item .images a .description {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-attachment: scroll;
    background-size: auto;
    background-image: url('/static/images/tour-description.png');
    background-origin: padding-box;
    background-clip: border-box;
    background-position: bottom;
    background-repeat: repeat-x;
    padding: 10px 12px 0px 12px;
}
.ui-book .right .tours .item .images a .description .free {
    color: #fff;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    display: block;
    float: left;
    margin-bottom: 7px;
	font-size: 17.5px;
}
.ui-book .right .tours .item .images a .description .price {
    color: #fff;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    display: block;
    float: left;
    margin-bottom: 7px;
}
.ui-book .right .tours .item .images a .description .price .amount {
    font-size: 19px;
    display: block;
}
.ui-book .right .tours .item .images a .description .price .type {
    font-size: 13px;
    display: block;
}
.ui-book .right .tours .item .images a .description .contact {
    color: #fff;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    display: block;
    float: right;
    margin-bottom: 7px;
}
.ui-book .right .tours .item .images .previews {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 12px;
}
.ui-book .right .tours .item .images .previews a {
    position: relative;
    display: block;
}
.ui-book .right .tours .item .images .previews a i {
    color: #fff;
    font-size: 18.5px;
}
.ui-book .right .tours .item .info {
    position: relative;
    display: block;
    padding: 8px 2px 12px 2px;
}
.ui-book .right .tours .item .info .title {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    line-height: 21px;
}
.ui-book .right .tours .ribbon.popular {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ui-book .right .tours .ribbon.popular span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ui-book .right .tours .ribbon.popular span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ui-book .right .tours .ribbon.popular span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ui-book .right .tours .ribbon.new {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ui-book .right .tours .ribbon.new span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ui-book .right .tours .ribbon.new span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ui-book .right .tours .ribbon.new span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ui-book .right .tours .ribbon.recommended {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ui-book .right .tours .ribbon.recommended span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ui-book .right .tours .ribbon.recommended span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ui-book .right .tours .ribbon.recommended span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

.ui-banks {
    position: relative;
}
.ui-banks .options {
    position: absolute;
    width: 100%;
    max-height: 400px;
    background-color: #fff;
    top: 0px;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.ui-banks .options .item {
    position: relative;
    float: left;
    width: 100%;
    cursor: pointer;
    padding: 6px 10px;
    border-bottom: 1px solid rgb(239, 242, 247);
}
.ui-banks .options .item:last-child {
    border-bottom: none;
}
.ui-banks .options .item:hover {
    background-color: #337ab7;
}
.ui-banks .options .item .image {
    position: relative;
    float: left;
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.ui-banks .options .item .image img {
    width: 100%;
}
.ui-banks .options .item .detail {
    position: relative;
    float: left;
    width: calc(100% - 40px);
    padding-left: 7px;
}
.ui-banks .options .item .detail span {
    display: block;
}
.ui-banks .options .item .detail small {
    display: block;
}
.ui-banks .options .item:hover .detail span,
.ui-banks .options .item:hover .detail small {
    color: #fff;
}
.ui-banks .options .item .detail small.account {
    margin-top: 2px;
}

.ui-inform-success p {
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 13.5px;
    color: #333;
}
.ui-inform-success .confirm {
    font-family: 'Gotham 3r', sans-serif;
    font-size: 14px;
    padding: 9px 17px;
}
