html, body {
    overflow-x: hidden;
    background-color: #000;
}
.style-ui-alert .opentip {
    padding: 6px 11px;
}
.style-ui-alert .ot-content {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Gotham SSm 3r', sans-serif !important;
    color: #fff;
}
.alert-danger {
    font-weight: 600 !important;
    font-family: 'Gotham 3r', sans-serif;
    line-height: 21px;
    font-size: 12.5px;
    background-color: #ecd0d0 !important;
    color: #8a0a07 !important;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid #8a0a07;
}
.alert-danger.th {
    font-weight: 400 !important;
    font-size: 13.5px !important;
}
.sweet-alert p {
    color: #000;
    font-weight: 400 !important;
    font-family: 'Gotham 4r', sans-serif;
    line-height: 21px;
    font-size: 13.5px;
}

.ui-contact {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #000;
}
.ui-contact.xs {
    padding-top: 70px !important;
}
.ui-contact .defer-image {
    position: relative;
}
.ui-contact .defer-image .image-showing {
    position: relative;
}
.ui-contact .defer-image .image-showing img {
    display: block;
    width: 100%;
    -webkit-border-radius: 2.5px;
       -moz-border-radius: 2.5px;
            border-radius: 2.5px;
    -webkit-animation: fadeIn 1s both;
	        animation: fadeIn 1s both;
}
.ui-contact .defer-image .image-showing img.holder {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ui-contact .defer-image .is-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.ui-contact .defer-image .is-loading::after {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1em;
	height: 1em;
	margin: -0.5em 0 0 -0.5em;
	background: rgba(125, 125, 125, 0.5);
	border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
	-webkit-animation: deferBobble 2s cubic-bezier(0.6, 1, 1, 1) infinite;
	        animation: deferBobble 2s cubic-bezier(0.6, 1, 1, 1) infinite;
}
.ui-contact .head {
    position: relative;
    width: 100%;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 8px;
    text-align: center;
}
.ui-contact .head .title {
    position: absolute;
    left: 0px;
    top: -14px;
    width: 100%;
}
.ui-contact .head .title span {
    padding: 0px 13px;
    background-color: #000;
    font-family: 'Gotham 4r', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #f4f4f4;
}
.ui-contact .head .line {
    display: block;
    border: none;
    color: #fff;
    height: 1px;
    background: black;
    background: gradient(radial, 50% 50%, 0, 50% 50%, 450, from(rgba(244,244,244,.7)), to(rgba(0,0,0,.7)));
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 450, from(rgba(244,244,244,.7)), to(rgba(0,0,0,.7)));
    background: -moz-gradient(radial, 50% 50%, 0, 50% 50%, 450, from(rgba(244,244,244,.7)), to(rgba(0,0,0,.7)));
}
.ui-contact .wrapper {
    position: relative;
}
.ui-contact .wrapper h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    margin-bottom: 20px;
}
.ui-contact .wrapper h3 {
    color: #f4f4f4;
    font-size: 15.7px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    line-height: 21.5px;
    margin-bottom: 20px;
}
.ui-contact .wrapper .back {
    margin-right: 8px;
    color: #fff;
}
.ui-contact .wrapper .row label {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
}
.ui-contact .wrapper .form input[type=text],
.ui-contact .wrapper .form textarea {
    display: block;
    background-color: rgb(51, 51, 51);
    width: 100%;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px !important;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ui-contact .wrapper .form button.btn {
    font-size: 13.5px;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    padding: 8px 14px;
    margin-top: 7px;
    border: 1px solid #fff;
    color: #fff;
    background-color: rgb(51, 51, 51);
    text-transform: uppercase;
    -webkit-transition: .5s all;
}
.ui-contact .wrapper .form button.btn:hover {
    background-color: #fff;
    color: #000;
}
.ui-contact .wrapper .form button.btn:disabled {
    background-color: rgb(51, 51, 51) !important;
    color: #fff !important;
}

.ui-contact .contactinfo {
    position: relative;
    padding-top: 16px;
}
.ui-contact .contactinfo p {
    position: relative;
    color: #f4f4f4;
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    line-height: 21px;
    font-size: 15px;
    padding: 0px 5px;
}
.ui-contact .contactinfo p.follow {
    font-size: 16px;
    margin-top: 60px;
    font-family: 'Gotham 3r', sans-serif;
}
.ui-contact .contactinfo p.address {
    font-family: 'Gotham 3r', sans-serif;
    margin-bottom: 36px;
    padding-right: 50px;
    line-height: 22.5px;
}
.ui-contact .contactinfo p.emails i {
    font-size: 15px;
    margin-right: 3px;
}
.ui-contact .contactinfo p.phones {
	font-size: 14px;
}
.ui-contact .contactinfo p.phones i {
    font-size: 16.5px;
    margin-right: 3px;
}
.ui-contact .contactinfo p.faxes {
	font-size: 14px;
}
.ui-contact .contactinfo p.faxes i {
    font-size: 16px;
    margin-right: 3px;
}
.ui-contact .contactinfo p.socials {
    padding-top: 12px;
}
.ui-contact .contactinfo p.socials a {
    margin-right: 5px;
}
.ui-contact .contactinfo p.socials a img {
    width: 34px;
}
.ui-contact .contactinfo p.description {
    margin-top: 50px;
	line-height: 24.5px;
}
.ui-contact .contactinfo p.description.th {
	font-size: 14px;
}
.ui-contact .contactinfo p.description:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 5px;
    vertical-align: -0.4em;
}
.ui-contact .contactinfo p.description:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 6px;
    vertical-align: -0.5em;
}
.ui-contact .ui-tour-random {
    position: relative;
    border-top: 1px solid rgba(255,255,255,.2);
    margin-top: 70px;
    padding-top: 35px;
}
.ui-contact .ui-tour-random .title-head {
    position: absolute;
    top: -15px;
    left: 30px;
    font-size: 17px;
    font-family: 'Gotham 3r', sans-serif;
    color: #f4f4f4;
    padding: 0px 15px;
    background-color: #000;
}

.ui-contact-success p {
    font-weight: 400;
    font-family: 'Gotham 3r', sans-serif;
    font-size: 13.5px;
    color: #333;
}
.ui-contact-success .confirm {
    font-family: 'Gotham 3r', sans-serif;
    font-size: 14px;
    padding: 9px 20px;
}
